.chatroom {


    &_block {
        padding-top: 20px;
        height: 100vh;
        width: 100%;
        border: 4px solid hsla(160, 100%, 37%, .5);
        background-color: hsla(160, 100%, 37%, .05);
        @media (min-width: 1024px) {
            height: 80vh;
        }
        &:hover {
            border: 4px solid hsla(160, 100%, 37%, .7);
            background-color: hsla(160, 100%, 37%, .030);
        }
    }

    &_title-block {
        position: absolute;
        width: 100%;
        top: 0;
        font-size: large;
        height: 40px;
        padding-top: 3px;
        color: white;
        // background-color: hsla(160, 100%, 37%, 1);
        @apply bg-slate-600 border-slate-800;
        z-index: 1;
        font-weight: bold;

    }

    &_content {
        padding: 20px 0px 10px;
        height: calc(100% - 40px);
        overflow-y: scroll;
    }

    &_name-input {
        position: absolute;
        padding-left: 5px;
        top: 4px;
        width: 30%;
        left: 8px;
        right: 2px;
        height: 30px;
        font-size: medium;
        z-index: 2;
    }
    &_people-count {
        position: absolute;
        padding-right: 5px;
        top: 4px;
        width: 30%;
        left: 8px;
        right: 2px;
        height: 30px;
        font-size: medium;
        z-index: 2;
    }

    &_input {
        position: absolute;
        bottom: 0;
        width: calc(100% - 100px);
        vertical-align: bottom;
        height: 40px;
        background-color: hsla(160, 100%, 50%, .5);
        border-color: transparent;
        font-size: medium;

        border-top: 4px solid hsla(160, 100%, 37%, .5);
        &:focus {
            border: 0px;
            border-color: transparent;
        }
    }

    &_text {
        padding: 5px 10px;
        font-size: medium;
        cursor: default;

        &:hover {
            background-color: hsla(160, 100%, 37%, .001);
        }

        span.sendMsg {}

        span.receiveMsg {
            color: green;
        }
    }

}